.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.inputContainer label {
    font-size: 0.88rem;
    color: #000;
}

.inputContainer .required {
    color: #b12725;
}

.inputBlock {
    display: flex;
    align-items: center;

    border: 1px solid #b3b3b3;
    border-radius: 0.7em;

    padding: 1em;

    cursor: text;
    background: #fff;
}

.inputBlock input {
    min-width: 20em;

    font-weight: 400;
    font-size: 0.88rem;
    color: #737373;
}

.inputBlock button img {
    width: 1.5em;
    aspect-ratio: 1/1;
    height: auto;
}

@media screen and (max-width: 551px) {
    .inputBlock input {
        font-size: 0.75rem;
    }
}